.Titulo{
    text-align: center;
    color: red;

}
.Frase{
    display: inline;
    background-color: red;
    color: white;
    font-size: 36px;
    font-family: Arial;
}
.Tela{
    background-color: black;
}

