body {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;

}

.Vermelho {
    display: flex;
    background-color: #3333ff;
    padding: 10px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 28px;
    align-items: center;
    font-family: "Arial Black";
}

.lista {
    display: flex;
    justify-content: space-between;

}

.lista div {
    display: flex;
    margin: 10px;
    color: white;
}
.lista a{
    text-decoration: none;
    color: white;
}
.lista a:hover{
    text-decoration: none;
    color: #fffefd;
    font-size: 15px;
    font-family: Arial;
    text-decoration: underline;
    font-weight: bold;
}

.azul {
    display: flex;
    background-color: white;
    /*border: 1px solid blue;*/
    /*height: 315px;*/
    margin-bottom: 25px;
    justify-content: space-evenly;
}

.azul div {
    text-align: center;
    margin-left: 1px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.section {
    display: flex;
    gap: 20px;
}

.section div {
    display: flex;
    background-color: #7aa2ff;
    height: 250px;
    flex: auto;
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.section div:hover {
    display: flex;
    background-color: #487cff;
    height: 250px;
    flex: auto;

    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
}

img {
    margin-bottom: 12px;
}

.titulo {
    color: #31047a;
    text-align: center;
}

.legenda {
    text-align: center;
    display: flex;
    align-items: start;
    padding-bottom: 15px;
}
